@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./base.css";
@import "./fonts.css";

:root {
    --bg-dark: #1e1e1e;
    --clr-primary-300: #92e7fc;
    --clr-primary-400: #62d9fb;
    --clr-primary-500: #2ecefa;
    --clr-primary-600: #06bcef;
    --off-white: #f4f4f4;
    --ff-primary: "Autography", Arial, Helvetica, sans-serif;
}

@layer base {
    body {
        @apply font-montserrat;
    }

    a {
        @apply text-primary-700;
    }

    section a:hover {
        @apply text-primary-500;
    }

    h1 {
        @apply font-autography;
        @apply text-5xl;
        @apply sm:text-7xl;
        @apply lg:text-8xl;
        @apply text-primary-700;
        @apply py-8;
        @apply lg:leading-normal;
    }
    h2 {
        @apply font-autography;
        @apply text-3xl;
        @apply sm:text-6xl;
        @apply lg:text-6xl;
        @apply pb-4;
        @apply pt-16;
        @apply text-primary-700;
        @apply clear-left;
    }
    p {
        @apply my-2;
    }

    th {
        @apply font-normal;
        @apply text-left;
    }

    th,
    td {
        vertical-align: top;
        @apply px-2;
        @apply py-1;

        &:first-child {
            @apply pl-0;
        }
        &:last-child {
            @apply pr-0;
        }
    }

    .template-page li > a {
        &:before {
            content: ">";
            @apply font-autography;
            @apply text-primary-700;
            @apply text-3xl;
            @apply inline-block;
            @apply pr-2;
        }
    }
}
